* {
    margin: 0; padding: 0;
}

.container, .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.areas {
    display: flex;
    margin-top: 5px;
    background: rgba(215, 208, 208, 0.333);
    border-radius: 20px;
    font-size: larger;
    box-shadow: inset 5px 5px 10px #474545,
            inset -5px -5px 10px #292727;
}

.textareas, .inputs {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background: lavender;
    height: 30px;
    width: 60%;
    border-radius: 5px;
    font-family: 'Caveat';
    border: 1px solid black;
}

.textarea { 
    background: lavender;
    width: 80%;
    resize: none; 
    border-radius: 7px;
    font-family: 'Caveat';
    border: 1px solid black;
}

.btns {
    display: flex;
    justify-content: space-around; 
}

.text-danger {
    color: rgb(173, 28, 28);
}

.aboutStatus, .stackStatus, .lastProjectStatus {
    width: 80%;
    color: #474545;
    font-size: small;
    text-align: right;
}
