@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(2, 104, 101, 0.79) 100%);
  margin: 0;
  font-family: 'Caveat';
}

